@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #24252A;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.App {
  text-align: center;
}

h1 {
  color: #aeb1ca;
  margin-bottom: 0.5rem;
  font-size: 3rem;
  text-align: center;
  position: absolute;
  top: 1rem;
  right: 43%;
}

.TodoWrapper {
  background: #24252A;
  margin-top: 1rem;
  padding: 2rem;
  border-radius: 5px;
  align-items: ce;
}

.TodoForm {
  width: 100%;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #C2B2B4;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #1d1e22;
  color: white;
  border: solid;
  border-color: #fff;
  border-width: 1px;
  margin: 10px;
  padding: 2px;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 130px;
  align-items: center;
  background: #1d1e22;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 2px;
  margin-bottom: 5px;
  cursor: pointer; 
  font-size: 15px;
  border: solid white;
  border-width: 1px;
  font-family: "Montserrat", sans-serif;
  width: 35%;
  display: inline-block;
  margin-left: 50px;
  margin-right: 80px;
  opacity: 0.6;
  transition: opacity 0.3s;
  z-index: 1;
}

.savebutton{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(93, 156, 93);
  color: white;
  padding: 0.75rem 1rem;
  border-radius: 2px;
  margin-bottom: 5px;
  cursor: pointer; 
  font-size: 25px;
  align-self: center;
  border-style: solid;
  border-color: white;
  margin-top: 10;
  position: fixed;
  bottom: 20px;
  right: 50px;
}

.savebutton:hover{
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  text-decoration: line-through;
}

.login{
  color: #fff;
  text-align: center;
}

.Todo:hover{opacity: 1}

.btndiv{
  margin-top: 10;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  width: 100vw;
  background-image: linear-gradient(180deg, #464b5c, #24252A);
}

.input{
  background-color: #24252A;
  color: #fff;
  border-style:solid;
  justify-content: space-between;
  margin-left: 5px;
}

.login-btn {
  background: #1d1e22;
  color: white;
  border: solid;
  border-color: #fff;
  border-width: 1px;
  margin: 10px;
  padding: 15px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
}
.profilepic{
  width: 50px;
  height: auto;
  position: absolute;
  top: 30px;
  right: 40px;
  cursor: pointer;
}