@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: #24252A;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow-x: hidden;
}

.App {
  text-align: center;
}

h1 {
  color: #f8f8f8;
  margin-bottom: 0.5rem;
  font-size: 3rem;
  text-align: center;
  position: absolute;
  top: 10px;
  right: 43%;
}

.TodoWrapper {
  background: #24252A;
  margin-top: 1rem;
  padding: 2rem;
  border-radius: 5px;
  align-items: ce;
}

.TodoForm {
  width: 100%;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #C2B2B4;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #1d1e22;
  color: white;
  border: solid;
  border-color: #fff;
  border-width: 1px;
  margin: 10px;
  padding: 2px;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 130px;
  align-items: center;
  background: #1d1e22;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 2px;
  margin-bottom: 5px;
  cursor: pointer; 
  font-size: 15px;
  border: solid white;
  border-width: 1px;
  font-family: "Montserrat", sans-serif;
  width: 35%;
  display: inline-block;
  margin-left: 50px;
  margin-right: 80px;
  opacity: 0.6;
  transition: opacity 0.3s;
  z-index: 1;
}

.savebutton{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(93, 156, 93);
  color: white;
  padding: 0.75rem 1rem;
  border-radius: 2px;
  margin-bottom: 5px;
  cursor: pointer; 
  font-size: 25px;
  align-self: center;
  border-style: solid;
  border-color: white;
  margin-top: 10;
  position: fixed;
  bottom: 20px;
  right: 50px;
}

.savebutton:hover{
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

.savebutton:hover{opacity: 1}

.savebutton::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}

.savebutton:hover::after {
  transform: scaleX(1);
  transform-origin: 10px;
}

.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 130px;
  align-items: center;
  background: #1d1e22;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 2px;
  margin-bottom: 5px;
  cursor: pointer; 
  font-size: 15px;
  border: solid white;
  border-width: 1px;
  font-family: "Montserrat", sans-serif;
  width: 35%;
  display: inline-block;
  margin-left: 50px;
  margin-right: 80px;
  opacity: 0.6;
  transition: opacity 0.3s;
  z-index: 1;
  text-decoration: line-through;
}

.login{
  color: #fff;
  text-align: center;
}

.Todo:hover{opacity: 1}

.completed:hover{opacity: 1}

.btndiv{
  margin-top: 10;
}


.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  width: 100%;
  height: 100px;
  background-color: #cb69e4;

  border-bottom: #fff;
  border-bottom-style: solid;

}


.input{
  background-color: #24252A;
  color: #fff;
  border-style:solid;
  justify-content: space-between;
  margin-left: 5px;
}

.login-btn {
  background: #ffffff;
  color: #1d1e22;
  border: solid;
  border-color: #fff;
  border-width: 1px;
  margin: 10px;
  padding: 15px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
}
.profilepic{
  width: 50px;
  height: auto;
  position: absolute;
  top: 30px;
  right: 40px;
  cursor: pointer;
}

.Todo-Main {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 130px;
  align-items: center;
  background: #946647;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 2px;
  margin-bottom: 5px;
  cursor: pointer; 
  font-size: 15px;
  border: solid white;
  border-width: 1px;
  font-family: "Montserrat", sans-serif;
  width: 35%;
  display: inline-block;
  margin-left: 50px;
  margin-right: 80px;
  opacity: 0.6;
  transition: opacity 0.3s;
  z-index: 1;
}

.Todo-Main:hover{opacity: 1}

.Todo-Main::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.Todo-Main:hover::after {
  transform: scaleX(1);
  transform-origin: 10px;
}

.Todo-Side {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 130px;
  align-items: center;
  background: #81407e;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 2px;
  margin-bottom: 5px;
  cursor: pointer; 
  font-size: 15px;
  border: solid white;
  border-width: 1px;
  font-family: "Montserrat", sans-serif;
  width: 35%;
  display: inline-block;
  margin-left: 50px;
  margin-right: 80px;
  opacity: 0.6;
  transition: opacity 0.3s;
  z-index: 1;
}
.Todo-Side:hover{opacity: 1}

.Todo-Side::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.Todo-Side:hover::after {
  transform: scaleX(1);
  transform-origin: 10px;
}


.Todo-Drugs {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 130px;
  align-items: center;
  background: #3c8b8b;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 2px;
  margin-bottom: 5px;
  cursor: pointer; 
  font-size: 15px;
  border: solid white;
  border-width: 1px;
  font-family: "Montserrat", sans-serif;
  width: 35%;
  display: inline-block;
  margin-left: 50px;
  margin-right: 80px;
  opacity: 0.6;
  transition: opacity 0.3s;
  z-index: 1;
}
.Todo-Drugs:hover{opacity: 1}

.Todo-Drugs::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.Todo-Drugs:hover::after {
  transform: scaleX(1);
  transform-origin: 10px;
}


.Todo-Sex {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 130px;
  align-items: center;
  background: #543c8b;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 2px;
  margin-bottom: 5px;
  cursor: pointer; 
  font-size: 15px;
  border: solid white;
  border-width: 1px;
  font-family: "Montserrat", sans-serif;
  width: 35%;
  display: inline-block;
  margin-left: 50px;
  margin-right: 80px;
  opacity: 0.6;
  transition: opacity 0.3s;
  z-index: 1;
}
.Todo-Sex:hover{opacity: 1}

.Todo-Sex::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.Todo-Sex:hover::after {
  transform: scaleX(1);
  transform-origin: 10px;
}

.Todo-Illegal {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 130px;
  align-items: center;
  background: #8b3c3c;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 2px;
  margin-bottom: 5px;
  cursor: pointer; 
  font-size: 15px;
  border: solid white;
  border-width: 1px;
  font-family: "Montserrat", sans-serif;
  width: 35%;
  display: inline-block;
  margin-left: 50px;
  margin-right: 80px;
  opacity: 0.6;
  transition: opacity 0.3s;
  z-index: 1;
}

.Todo-Illegal:hover{opacity: 1}

.Todo-Illegal::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.Todo-Illegal:hover::after {
  transform: scaleX(1);
  transform-origin: 10px;
}

.Todo-Cancelled {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 130px;
  align-items: center;
  background: #8d8731;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 2px;
  margin-bottom: 5px;
  cursor: pointer; 
  font-size: 15px;
  border: solid white;
  border-width: 1px;
  font-family: "Montserrat", sans-serif;
  width: 35%;
  display: inline-block;
  margin-left: 50px;
  margin-right: 80px;
  opacity: 0.6;
  transition: opacity 0.3s;
  z-index: 1;
}
.Todo-Cancelled:hover{opacity: 1}

.Todo-Cancelled::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.Todo-Cancelled:hover::after {
  transform: scaleX(1);
  transform-origin: 10px;
}

.leaderboard{
  filter: invert(100%);
  width: 100px;
  height: auto;
  position: absolute;
  top: 10px;
  left: 46%;
  cursor: pointer;
}

.logout{
  filter: invert(100%);
  width: 100px;
  height: auto;
  position: absolute;
  top: 10px;
  right: 10%;
  cursor: pointer;
}